*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(IMGS/3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: palevioletred;
    display: block;
    margin: auto;
    transform: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h3{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: white;

}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
} 
.menu{
    width: 80;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color:thistle;
}
 .menu-col{
    flex-basis: 32%;
    border-radius: 10%;
    margin-bottom: 10%;
   position: relative;
   overflow: hidden;
   margin-bottom: 3%;
}
.menu-col img{
    width: 70%;
    height: 80%;
    border-radius: 100%;

}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.menu-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
